<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h2 th:text="${title}"></h2>
<div>
    <a href="/user/list">返回主页</a>
</div>
<form action="/user/saveOrUpdate" th:action="@{/user/saveOrUpdate}" method="post" th:object="${user}">
    <input type="hidden" name="id" th:value="*{id}"><br>
    名称: <input type="text" name="name" th:value="*{name}"><br>
    邮箱: <input type="text" name="email" th:value="*{email}"><br>
    <input type="submit" value="提交">
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>