<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>
<h3 th:text="${title}">Welcome to waylau.com</h3>
<div>
    <a href="/user/list">返回主页</a>
</div>
<div>
    <p><strong>ID:</strong><span id="id" th:text="${user.id}">123</span></p>
    <p><strong>Name:</strong><span id="name" th:text="${user.name}">waylau</span></p>
    <p><strong>Age:</strong><span id="age" th:text="${user.email}">30</span></p>
</div>
<div>
    <a th:href="@{'/user/delete?id=' + ${user.id}}">删除 </a>
    | <a th:href="@{'/user/update?id=' + ${user.id}}">修改</a>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>