<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h2 th:text="${title}"></h2>
<form action="/user/save" th:action="@{/user/save}" method="post">
    <input type="hidden" name="id"><br>
    名称: <input type="text" name="name"><br>
    邮箱: <input type="text" name="email"><br>
    <input type="submit" value="提交">

</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>